@charset "utf-8";
#header
{
    border-style: dashed;
    width: 800px;
    height: auto;
}

#wrapper
{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 800px;
    border-style: dashed;
}

body
{
    background-color: #e0e0e0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}

h1
{
    color: #270c39
}

#footer
{
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-top: thin solid #bbbbbb;
    clear: both;
    color: #969696;
}

#nav li
{
}

#nav li a
{
}

#rightsidebar
{
}

#main
{
}

#logo
{
    padding: 10px;
    float: left;
}

#top_menu
{
}