@charset "utf-8";
#header
{
    border-style: none;
    width: 800px;
    height: auto;
    text-align: center;
}

#wrapper
{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 800px;
}

body
{
    background-color: #e0e0e0;
    font-family: "Helvetica", "Trebuchet MS", "sans-serif";
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}

h1
{
    color: #270c39;
    text-align: center;
}


#footer
{
    text-align: right;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-top: thin solid #bbbbbb;
    clear: both;
    color: #969696;
}

/* #nav li
{
}

#nav li a
{
} */

/* #rightsidebar
{
} */

#main
{
    margin: 25px 100px 50px 100px;
}

#logo
{
    padding: 20px;
    text-align: center;
}

/* #top_menu
{
} */

#ranks
{
    text-align: center;
}

#eligibility
{
    text-align: center;
}