@charset "utf-8";
#header {
    border-style: none;
    width: 800px;
    height: auto;
}

#wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 800px;
}

body {
    background-color: #e0e0e0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}