{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock title %}

{% block content %}
    <center>
        <h1>{{ object.degree }} {{ object }}</h1>
        <br>{{ object.eligibility }}
    </center>
    <br><br>
    {% comment %}
        The following for-loops should grab each category in a Rank,
        and then each requirement under that specific rank-category.
    {% endcomment %}
    {% for category in object.rank_categories %}
        <br><!--a href="{{ category.id }}"--><b>{{ category.name }}:</b><!--/a-->

        {% for requirement in category.cat_requirements %}
            <br><a href="/requirements/rank/{{ rank.id }}/category/{{ category.id }}/requirement/{{ requirement.id }}">{{ requirement.title }}</a>
        {% endfor %}
        <br>
    {% endfor %}
{% endblock content %}